@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Source+Code+Pro:wght@400;600;700&family=Roboto+Mono:wght@400;500;700&display=swap');

html {
    user-select: none;
    background-color: #111111;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 0.875em;
    font-size: calc(1em * 0.875);
    color: #ffffff;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

html, body {
    height: 100%;
    margin: 0px;
}

.content {
    background-color: #000000;
    min-height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1024px;
} 

.header {
    /* font-family: "Times New Roman", Times, serif; */
    font-family: 'Roboto Mono', ui-monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', monospace;
    padding-top: 12px;
    font-size: 1.8em;
    margin-bottom: 12px;
    border-bottom: 1px solid #a9a9a9;
}

.section_header {
    /* font-family: "Times New Roman", Times, serif; */
    font-family: 'Roboto Mono', ui-monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', monospace;
    padding-top: 12px;
    font-size: 1.5em;
    margin-bottom: 12px;
    border-bottom: 1px solid #a9a9a9;
}

.subsection_header {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 4px;
}

.subsection_body {
    color: #D3D3D3;
    padding-bottom: 16px;
}

.subsection_body_consolas {
    color: #D3D3D3;
    /* font-family: 'Roboto Mono', ui-monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', monospace; */
    font-family: 'Inconsolata', 'Source Code Pro', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    padding-bottom: 16px;
}

.info {
    margin-top: -8px;
    font-style: italic;
    padding-bottom: 12px;
}


/* Search */
.search {
    padding-bottom: 12px;
}


/* Bar */
.navbar {
    padding-top: 12px;
    overflow: hidden;
}

.nav_entry {
    float: left;
    margin-left: 8px;
    text-align: center;
}

.nav_entry:first-child {
    margin-left: 0px;
}

.nav_entry a {
    display: block;
    padding: 4px;
    background-color: #000000;
    border: solid #ffffff 2px
}


/* Links */
a.active {
    text-decoration: none;
    pointer-events: none;
    color: black;
    background-color: #eeeeee;
}

a {
    color: #1F51FF;
    text-decoration: none;

}
a:hover {
    font-weight: bold;
}


/* Footer */
footer {
    padding-top: 20px;
}